.scrollContainer{
	position: relative;
	text-align: center;
}

.scrollArrow{
	width: 15px;
	height: 18px;
	display: inline-block;
}

.scrollArrowLeft{
	position: absolute;
	transform: rotate(90deg);
	left: 0;
}

.scrollArrowRight{
	position: absolute;
	transform: rotate(270deg);
	right: 0;
}

.scrollComponents{
	display: inline-block;	
	overflow: hidden;
	transition: all 1s;
	max-width: 90%;
}

.scrollImage{
	width: 80%
}

.scrollItem{
	margin-top: 5px;
	max-width: 32%;
	display: inline-block;
	transition: all 1s;
	vertical-align: top;
}

.scrollItem > label{
	display: block;
}


